 html,body{
        font-family: 'Open Sans', sans-serif;
        }
        .main-wrapper {
        width: 1400px;
        max-width: 100%;
        margin: auto;
        }
        .global-sidebar {
        width: 200px;
        z-index: 910;
        padding: 0rem 0rem;
        border-right: 2px solid #f3f3f3;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #3fac36;
        }
        .global-sidebar .logo {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin: 20px 14px;
        display: block;
        background
        color: #3fac36;
        text-align: center;
        line-height: 68px;
        font-size: 22px;
        font-weight: 700;
        background-color: #fff;
        color:#3fac36;
        }
        .global-sidebar ul {
        padding: 0;
        }
        .global-sidebar ul.all-link {
        min-height: 80vh;
        }
        .global-sidebar ul li {
        list-style: none;
        }
        .global-sidebar ul li a {
        color: #fff;
        width: 100%;
        transition: all 300ms linear;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 300ms linear;
        font-family: 'Bitter', serif;
        letter-spacing: 2px;
        margin: 2rem 0;
        border-bottom: 1px dashed rgba(255,255,255,.35);
        }
        .global-sidebar ul li a:hover, .global-sidebar ul li a:active, .global-sidebar ul li a:focus {
        transition: all 300ms linear;
        text-decoration: none;
        }
        .main-content {
        position: relative;
        width: calc(100% - 200px);
        z-index: 904;
        margin-left:200px;
        padding: 30px;
        }
        h1{
        font-size: 48px;
        font-weight: 200;
        color: #3fac36;
        font-weight: 900;
        }
        h2,h3{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
        color: #525252;
        font-family: 'Bitter', serif;
        font-size: 1.5rem;
        line-height: 31px;
        margin-top: 0;
        font-weight: 700;
        }
        p{
        font-size: 14px;
        color: #000;
        }
        .form-group label{
        font-size: 15px;
        color: #000;
        font-weight: 300;
        text-transform: uppercase;
        }
        .form-group{
        margin-bottom: 1.75rem;
        }
        .form-control{
        border: 1px solid #c8c8c8;
        color: #333333;
        font-size: 14px;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 42px;
        font-weight: 300;
        }
        .form-control:hover, .form-control:active, .form-control:focus {
        outline: none;
        box-shadow: none;
        }
        textarea{
        resize:none;
        border-radius: 0px;
        border: 1px solid #c8c8c8;
        color: #333333;
        font-size: 14px;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-weight: 300;
        }
        .btn-theme{
        background-color: #d63025;
        background-image: none;
        color: #ffffff;
        padding: .5rem 1.75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: 'Bitter', serif;
        transition: all 300ms linear;
        }
         .btn-theme:hover, .btn-theme:active, .btn-theme:focus {
        transition: all 300ms linear;
        outline: none;
        box-shadow: none;
        color:#fff;
        background-color: darken(#d63025, 15%);
        }
        table thead tr th{
        letter-spacing: 1px;
        font-weight: 400;
        font-family: 'Bitter', serif;
        font-size:14px;
        text-transform: uppercase;
        font-weight: 700;
        background-color: #efefef;
        }
        table tbody tr td{
        font-weight: 400;
        font-size:14px;
        }
        .btn-edit{
        background-color: #3fac36;
        color:#fff;
        margin-right: 10px;
        transition: all 300ms linear;
        }
        .btn-edit:hover, .btn-edit:active, .btn-edit:focus {
        transition: all 300ms linear;
        outline: none;
        box-shadow: none;color:#fff;
        }
        .btn-delete{
        background-color: #f2f2f2;
        color:#ababab;
        margin-right: 10px;
        transition: all 300ms linear;
        }
        .btn-delete:hover, .btn-delete:active, .btn-delete:focus {
        transition: all 300ms linear;
        outline: none;
        box-shadow: none;
        }